<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 subtitle</h2>
<h3>h3 subtitle</h3>
<h4>h4 subtitle</h4>
<h5>h5 subtitle</h5>
<h6>h6 subtitle</h6>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam ipsum aspernatur exercitationem eum. Hic, libero quod exercitationem, ex asperiores ea recusandae, alias consectetur neque ab fugiat cupiditate distinctio commodi?</p>

<h3>Links</h3>

<a class="app-a">Link 1</a> <a class="app-a">Link 2</a> <a class="app-a">Link 3</a>

<h3>Button</h3>

<button class="app-button">Button</button>

<h3>Code</h3>

<code> const parameter = 42</code>

<h3>Input</h3>

<input type="text" class="app-input">

<h2>Mixins</h2>

<h3>Shadow</h3>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card mixin</div>