$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #fff;
$on-base: #000;

$primary: #00bcd4;
$primary-dark: #008ba3;
$primary-light: #62efff;
$on-primary: #fff;

$secondary: #ffd54f;
$secondary-dark: #c8a415;
$secondary-light: #ffff81;
$on-secondary: #000;

$error: #b00020;
$on-error: #fff;

$success: #99aa00;
$on-success: #fff;


